/*  Colors */

:root {
  --purple: #635380;
  --green: #45d98a;
  --black: #090809;
  --grey: #d9d9d9;
  --white: #f7f0f5;
}

/*  Fonts */

@font-face {
  font-family: DynaPuff-Bold;
  src: url(./fonts/DynaPuff-Bold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./fonts/Poppins-Regular.ttf);
}

/*  Text Styles */

.ts40 {
  font-family: "DynaPuff-Bold";
  font-size: 4rem;
}

.ts28b {
  font-family: "Poppins-Bold";
  font-size: 2.8rem;
}

.ts24b {
  font-family: "Poppins-Bold";
  font-size: 2.4rem;
}

.ts24r {
  font-family: "Poppins-Regular";
  font-size: 2.4rem;
}

.ts18b {
  font-family: "Poppins-Bold";
  font-size: 1.8rem;
}

.ts18r {
  font-family: "Poppins-Regular";
  font-size: 1.8rem;
}

.ts14b {
  font-family: "Poppins-Bold";
  font-size: 1.4rem;
}

.ts14r {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
}

.ts12r {
  font-family: "Poppins-Regular";
  font-size: 12px;
}

/* Icon sizes */

.icon-24 {
  height: 2.4rem;
  width: 2.4rem;
  min-height: 24px;
  min-width:24px;
}

.icon-32 {
  height: 3.2rem;
  width: 3.2rem;
  min-height: 24px;
  min-width:24px;
}

.icon-64 {
  height: 6.4rem;
  width: 6.4rem;
  min-height: 24px;
  min-width:24px;
}

.icon-black{
  fill: var(--black)
}

.icon-purple{
  fill: var(--purple)
}
/* Previous configuration */

html{
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 4rem 10%;
  align-items: center;
  text-align: center;
}

.store-index {
  padding: 0;
  align-items: center;
  text-align: center;
}

/* Primary menu */

.primary-menu {
  background-color: var(--green);
  color: var(--black);
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-product {
  padding: 0 2rem;
}

.search-product input {
  width: 100%;
  margin-right: 0.5rem;
}

.customer-options {
  display: flex;
  align-items: center;
}

.customer-options-items {
  padding: 0 0 0 2rem;
}

.customer-options-items:first-child {
  padding: 0;
}

.customer-options-items a {
  color: var(--black);
  text-decoration: none;
}

.login-options {
  display: flex;
  align-items: center;
}

.login-options-text {
  width: max-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 0 20px;
}

/* Secondary menu */

.secondary-menu {
  background-color: var(--purple);
  align-items: center;
  padding: 0.8rem 10%;
  display: flex;
  justify-content: space-between;
}

.secondary-menu li {
  display: flex;
}

.secondary-menu a {
  text-decoration: none;
  color: var(--black);
}

.secondary-menu a:hover {
  color: var(--white);
}

.pet-type-items a {
  padding: 0 52px 0 0;
}

.appointment-items a {
  padding: 0 0 0 52px;
}

/* Form */

.form-black {
  height: 40px;
  background-color: var(--black);
  color: var(--green);
  border: none;
  border-radius: 12px;
  padding-left: 32px;
}

::placeholder {
  color: var(--green);
}

/* Button */

.btn {
  border: none;
  border-radius: 12px;
}

.btn-icon {
  height: 4rem;
  width: 4rem;
  min-height: 40px;
  min-width: 40px;
  padding: 0;
}

.btn-grey {
  background-color: var(--grey);
  color: var(--black);
}

.btn-grey:hover {
  background-color: var(--purple);
}

.btn-purple {
  background-color: var(--purple);
  color: var(--white);
}

.btn-purple:hover {
  background-color: var(--green);
  color: var(--white);
}


.link-green{
  color: var(--green);
}

.link-green:hover{
  color: var(--green);
  font-style: italic;
}

.ts-purple {
  color: var(--purple);
}

.ts-green {
  color: var(--green);
}

.carousel-inner > .carousel-item > img {
  width: 700px;
  height: 400px;
}
